body{
    background-color: rgb(216, 216, 216);
    color: rgb(4, 4, 80);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header{
    text-align: center;
    background-color: darkslategray;
    padding: 1rem 2rem;
}
main{
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}
section{
    margin-bottom: 2rem;
}
footer{
    text-align: center;
    font-size: 0.9rem;
    padding: 1rem;
    color: cornflowerblue;
}
